
/* Due to time constrants I sadly coudn't style the input section of the site */

#memePlace{
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Add some space between different memes */
}

.memeHolder {
  width: 360px;
  height: 360px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; 
  margin: 5px; /* Add margin to the indovidual memes  */
}

.memeHolder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: background-image 0.5s ease;
  /* Allows for smoother transition between background-image for removing and the memeImg */
}

.memeHolder:hover:before {
  background-image: url("https://t3.ftcdn.net/jpg/00/90/29/62/360_F_90296217_1Pxm0rHeU2uqQyBUSY0gaoczJ8xhzAfq.jpg");
  opacity: 0.75;
 /* This allows use to pring in a text from the internet and use it as your remove meme simplbe when a person hovers over. this new background image Semi-transparent black hover */
}

.memeImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.textStyle {
  /* this Meme Test Style is not my own. I was able to take it form Codepen.io user and chage it form my own needs. */
  /* https://codepen.io/MetalEscape/pen/WrYxVM - orignal code */
  padding: 0 5px;
  font-size: 1.2em; 
  position: absolute;
  width: 90%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  box-sizing: border-box;
  font-family: impact;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 
    2px 2px 0 #000, -2px -2px 0 #000, 
    2px -2px 0 #000, -2px 2px 0 #000, 
    0px 2px 0 #000, 2px 0px 0 #000, 
    0px -2px 0 #000, -2px 0px 0 #000, 
    2px 2px 5px #000;
  transition: opacity 0.5s ease;
}

.memeHolder:hover .textStyle {
  opacity: 0.75;
}

.topText {
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
/* this idea for the transfomr:translateX is not my own and taken from codeguage.com; */
/* https://www.codeguage.com/courses/css/transformations-translation#:~:text=translateX(%2D50%25)%20moves,to%20overlap%20with%20one%20another. - where I learend */
}

.bottomText {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

}